<h1>Product View</h1>

<table>
  <tr>
    <td>Product Image:</td>
    <td><img src="<%= @product['image_thumb_url'] %>" alt="Product Thumb"></td>
  </tr>
  <tr> 
    <td>Product Name:</td><td><%= @product['name'] %></td>
  </tr>
  <tr>
    <td>Product Price:</td><td><%= format_price(@product['price_in_cents'])%></td>
  </tr>
  <tr>
    <td>Product Category:</td><td><%= @product['primary_category']%></td>
  </tr>
  <tr>
    <td>Current Inventory:</td><td><%= @product['inventory_count']%></td>
  </tr>
</table>
<p>
<div><%= link_to "Back", "/products" %></div>