<h1>Product View</h1>

<table>
  <tr>
    <td>Product Image:</td>
    <td><img src="<%= @product['result']['image_thumb_url'] %>" alt="Product Thumb"></td>
  </tr>
  <tr> 
    <td>Product Name:</td><td><%= @product['result']['name'] %></td>
  </tr>
  <tr>
    <td>Product Price:</td><td><%= format_price(@product['result']['price_in_cents'])%></td>
  </tr>
  <tr>
    <td>Product Category:</td><td><%= @product['result']['primary_category']%></td>
  </tr>
  <tr>
    <td>Current Inventory:</td><td><%= @product['result']['inventory_count']%></td>
  </tr>
</table>
<p>
<div><%= link_to "Back", "/products" %></div>